.container {
  border:10px solid darkblue;
.container {
  border:3px solid olive;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.beast-container {
  border:2px solid lightblue;
  border:4px solid darkslateblue;
  display:flex;
  align-items: center;
  justify-content: space-around;
  margin:0 auto;
  flex-wrap: wrap;
}